Thumbs.db*
.DS_Store*
ПОМОЩЬ.мд
.степень
строить/
цель/

### СТС ###
.apt_generated
.класспуть
.фабричный путь
.проект
.настройки
.springBeans
.sts4-кэш

### ИДЕЯ IntelliJ ###
.идея
*.iws
*.iml
*.ipr
вне/
out/
.idea/



### NetBeans ###
/nbproject/частный/
/nbbuild/
/расстояние/
/nbdist/
/.nb-градус/

### Код VS ###
.vscode/

### Файлы пакетов ###
*.банка
*.война
*.нар
*.ухо
*.zip
*.tar.gz
*.rar

### Исключения ###
!gradle/обертка/gradle-wrapper.jar
!.MVN/обертка/maven-обертка.jar
!**/источник/основной/**
!**/источник/тест/**